@model sistemaDeAdocaoParaAnimais.Models.Usuarios

<div class="container">
    <div class="main-body">
     
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="cards">
                <div class="card-body-profile">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="@Html.DisplayFor(model => model.Avatar)" alt="Admin" class="circle" width="150"><br>
                    <div class="mt-3">
                      <h4>@Model.Nome @Model.Sobrenome</h4>
                      <p class="text-secondary mb-1">@Model.Email</p>
                      <p class="text-muted font-size-sm">@Model.Cidade - @Model.Estado</p>                      
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body-profile">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nome completo</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.Nome @Model.Sobrenome
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.Email
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Telefone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.Numero
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Estado</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.Estado
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Cidade</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.Cidade
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Editar</a>
                    </div>
                  </div>
                </div>
              </div>   
            </div>

          </div>

        </div>

    </div>