@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutDeslogado";
}

<section>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/KiraCampanha.png" class="d-block w-100" alt="..." data-bs-interval="10000">
            </div>
            <div class="carousel-item">
                <img src="~/img/Campanha.png" class="d-block w-100" alt="..." data-bs-interval="10000">
            </div>
            <div class="carousel-item">
                <img src="~/img/CampanhaCitada.png" class="d-block w-100" alt="..." data-bs-interval="10000">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="titulo_amigos">
        <h1>Conheça seus mais novos amiguinhos</h1>
        <span>Lembre-se que o seu melhor amigo está aqui, esperando o encontro de vocês <i
                class="fa-solid fa-heart"></i></span>
    </div>

    <div class="exibirLado">
        @{
            var animais = ViewBag.pets;
        }

        @{
            if (animais != null)
            {
                @foreach (var animal in animais)
                {
                    <div>
                        <div class="cardq" style="width: 18rem;">
                            <div class="cardPets">
                                <img src="@animal.ImagensPet" class="card-img-top" alt="Pets">
                                <div id="card-body">
                                    <h4 class="card-text">@animal.Nome</h4>
                                    <p class="card-text">@animal.EstadoAdocaoPet</p>
                                    <p class="card-text">@animal.Estado</p>
                                    <p class="card-text">@animal.Cidade</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
    <div class="button_VerMais">
        <button type="button" class="btn_VerMais">Ver mais</button>
    </div>
</section>

<section>
    <div class="titulo_adocao">
        <h2>Benefícios da adoção</h2>
    </div>
    <div class="beneficios_adocao">
        <div class="beneficios-item">
            <img src="~/img/BeneficiosAdocao.jpg" alt="">
        </div>
        <ul class="list-beneficios">
            <li class="list-beneficios-item"><i class="fa-solid fa-paw"></i> Ter um animalzinho de estimação é ter uma
                amizade verdadeira e leal.</li>
            <li class="list-beneficios-item"><i class="fa-solid fa-paw"></i> Adotar é, sem dúvidas, um gesto que envolve
                muito amor, maturidade e responsabilidade.</li>
            <li class="list-beneficios-item"><i class="fa-solid fa-paw"></i> Adotar é um gesto de amor! É dar a chance
                de um animalzinho ter uma família, Adotar é salvar vidas!</li>
            <li class="list-beneficios-item"><i class="fa-solid fa-paw"></i> Ter um animal é uma excelente maneira de
                ajudar pessoas com depressão, pois a essa convivência reduz a sensação de solidão, a ansiedade e melhora
                o bom-humor.</li>
        </ul>
    </div>
</section>

<section>
    <div class="titulo_Cuidados">
        <h2>Cuidados com seu pet</h2>
    </div>
    <div class="Cuidados_Pet">
        <div class="Cuidados_item">
            <img src="~/img/Cuidados_Pet.png" alt="">
        </div>
        <ul class="list-cuidados">
            <li class="list-cuidados-item"><i class="fa-solid fa-paw"></i> É dever do proprietário proteger seu animal
                do sol e da chuva, além de impedir que os bichinhos fujam ou saiam sozinhos na rua.</li>
            <li class="list-cuidados-item"><i class="fa-solid fa-paw"></i> Oferecer sempre uma ração de boa qualidade,
                respeitando as características de cada animal e faixa etária. E sempre disponibilizar água limpa e
                fresca.</li>
            <li class="list-cuidados-item"><i class="fa-solid fa-paw"></i> A castração é sempre aconselhável quando não
                se quer um filhote. Com isso, evitamos superpopulação, abandonos e doenças uterinas...</li>
            <li class="list-cuidados-item"><i class="fa-solid fa-paw"></i> As vacinas previnem doenças graves que podem
                levar o animal à morte! </li>
        </ul>
    </div>
</section>