@model sistemaDeAdocaoParaAnimais.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuarios.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Energia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Energia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Humor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Humor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apego)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apego)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adestramento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adestramento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vacinado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vacinado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Castrado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Castrado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vermifugado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vermifugado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoAdocaoPet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoAdocaoPet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagensPet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagensPet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
