@model sistemaDeAdocaoParaAnimais.Models.Animal

@{
    Layout = "_LayoutDeslogado";
}


@{
    var animais = ViewBag.pets;
}
@{
    if (animais != null)
    {
        @foreach (var Model in animais)
        {
            <div class="container-exibir">    
                <div id="esquerda">
                    <img src="@Model.ImagensPet" id="perfil"/>
                </div>
                <div id="direita">
                    <span>@Model.Nome</span>
                    <p>@Model.Especie | @Model.Sexo | @Model.Porte | @Model.Cidade | @Model.Estado</p> 
                </div>
                <div id="historia">
                    <span>Historia sobre @Model.Nome</span>
                    <br>
                    @Model.Descricao 
                </div>
                <div>
                <button type="submit" class="btn btn-success" onclick="openPopup()">Quero adotar</button>
                <div class="popup" id="popup">
                    <h2>Titulo</h2>
                    <p>Texto abaixo....</p>
                    <button type="button" class="btn btn-success" onclick="closePopup()">Fechar</button>
                </div>
                </div>
            </div>   
        }
    }
}