@model sistemaDeAdocaoParaAnimais.Models.Animal

@{
    Layout = "_LayoutDeslogado";
}


@{
    var animais = ViewBag.pets;
}
@{
    if (animais != null)
    {
        @foreach (var Model in animais)
        {
            <div>    
                <div id="esquerda">
                    <img src="@Model.ImagensPet" id="perfil"/>
                </div>
                <div id="direita">
                    <h1>
                        <span>@Model.Nome</span>
                    </h1>
                    <p>@Model.Especie | @Model.Sexo | @Model.Porte | @Model.Cidade | @Model.Estado</p> 
                </div>
                <div id="estado">
                    <img src="~/img/location-dot-solid.svg" class="icons">
                </div>
                <div id="historia">
                    <h1>Historia da @Model.Nome</h1>
                    @Model.Descricao 
                </div>
                <button type="submit" id="bnt">Quero adotar</button>
            </div>   
        }
    }
}

